.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.encabezado__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado__logo img {
    width: 5rem;
    margin-right: 1rem;
}

.titulo {
    font-family: 'Salsa', cursive;
    color: #815947;
    
}
.encabezado a {
    text-decoration: none;
}
.menu a {
    text-decoration: none;
    margin-inline: 1rem;
    border: 2px #815947 solid;
    background-color: #fff;
    border-radius: 10px;
    padding: .5rem 1rem;
}

.menu a:hover {
    color: #fff;
    background-color: #815947;
}

.menu .ActiveOption {
    font-weight: 800;
}